@model IEnumerable<Animalitos.Models.Entities.Clase>;
@{
    Layout = "MainLayout";
}

        <div class="slides">
            <img src="~/images/carousel1.jpg" />
        </div>

        <h1>Clasificación de los vertebrados</h1>

        <div class="clases">
            @{
                foreach (var classee in Model)
                {
                    <div>
                        <a href="~/Home/Especies/@(classee.Nombre)">
                            <img src="~/clases/@(classee.Id).jpg" />
                            <h1>@classee.Nombre</h1>
                            <p>@classee.Descripcion</p>
                        </a>
                    </div>
                }
            }
           

        </div>

    