<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Estados de México</title>
    <link href="~/EstilosPerrones.css" rel="stylesheet" />
</head>
<body>

    <h3>Nombre de la materia: </h3>
    <h2>Programacion Web</h2>
    <h3>Semestre: </h3>
    <h2>Septimo semestre</h2>
    <h3>Periodo: </h3>
    <h2>2023-2024</h2>
    <h3>Nombre: </h3>
    <h2>Carlos Daniel Maldonado Muñoz</h2>
    <a href="~/home/Miperfil">Mi perfil</a>

</body>
</html>
